@use '../../styles/variables' as *;
@use '../../styles/fonts' as *;

.cart {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;


    &__text {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      margin-left: 8rem;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 38rem;
    border: solid 1rem white;
    background-color: $itemGray;
    

    &-size {
      color: $grayFontColor;
      font-family: 'Roboto Light';

      font-size: 1rem;
      margin-left: 2.5rem;

    }

    &-details {
      display: flex;
      flex-direction: column;
      margin-left: 11rem;
      &-header{
        display: flex;
      }
    }

    &-name {
      font-family: 'Lush Handwritten WLat';
      margin-top: -8.3rem;
      font-size: 2rem;
    }

    &-category {
      color: $grayFontColor;
      letter-spacing: 2px;
    }

    &-quantity {
      font-family: "Roboto-Regular";
      margin-top: 3rem;
    }

    &-total {
      font-family: "Roboto-Bold";
      margin-left: 15rem;
      margin-top: -1rem;
      font-size: 1.3rem;
    }

    img {
      width: 7rem;
      margin-left: 1rem;
      margin-top: 1rem;
    }
  }

  &__footer {
    background-color: white;
    position: sticky;
    bottom: 0;
    border-top: 1px solid black;
    width: 100vw;
    margin-left: -3rem;
    z-index: 2;
    margin-top: 3rem;

    .cart__totals {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 3rem;
      padding-right: 8.5rem;
      width: 50%;
    }
    .cart__total {
      &-item {
        padding-bottom: 4rem;
      }
      &-sub {
        font-weight: 200;
        margin-bottom: 1rem;
      }
      &-tax {
        font-weight: 200;
        margin-bottom: 1rem;
      }
      &-tax1 {
        padding-left: .59rem;
        font-weight: 200;
        margin-bottom: 1rem;
      }
      &-price {
        font-size: 1rem;
      }
    }
  }

  .cart__arrow {
    color: #808080;
    font-size: 1rem;
    font-weight: 400;
    margin-left: -.3rem;
  }
}

.cart__flex{
  display: flex;
  justify-content: space-between;
}