.welcome-section{

margin-top: 5rem;
    
    &__card-container{
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        align-items: center;
        // padding-left: 131px;
    }
    &__header{
        text-align: center;
        font-size: 40px;
        font-family: 'Roboto Bold';
    }

    &__button{
        background-color: #242424;
        color: white;
        // padding: 20px 90px;
        font-size: 24px;
        padding: 15px 60px;
        letter-spacing: 2.4px;
        width: 100%;
        margin-top: 2rem;

    }

    &__card{
        display: flex;
        flex-direction: column;

    }
    &__back{
        color: var(--Grey---808080, #808080);
        text-align: center;
        font-size: 24px;
        margin-top: 1rem;
    }
    &__backArrow-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.page-number{
    font-size: 53px;
    margin-top: 2.5rem;
    text-align: center;
    color: #4D4D4D;
}