$progressBarGray: #f5f5f5;
$itemGray: #F4F2F4;
$tablet-width: 1194px;

$ctaBackground: #F6CFCF;
$buttonBackground: #242424;
$secondaryBackground:#E2DBFC;
$secondaryFontColor: #242424;
$grayFontColor: #4D4D4D;
