.skin-section{

    &__image--radius{
        border-radius: 100px;
        height: 192px;
    }
    &__subtitle{
        text-align: center;
        color: #808080;
        font-size: 30px;
        padding-top: 2px;
    }

}