@use '../../styles/variables' as *;
@use '../../styles/fonts' as *;


.recommendations-section{
    margin-top: rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 46px ;
    padding-bottom: 2rem;




    &__container{
        width: 100%;
    }

    &__card-container{
        margin-top: 2rem;
    }

    &__header-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__header{
        font-size: 40px;
        color: $buttonBackground;
        font-family: 'Roboto Bold';

    }

    &__text--light{
        font-size: 22px;
       
        color: $grayFontColor;
        font-family: 'Roboto Light';
        letter-spacing: 0.99px;

        
    }

    &__text--lightUnderline{
        text-decoration: underline;
        font-size: 26px;

    }

    &__card{
        display: flex;
        flex-direction: column;
        margin-top: -7rem;
        // align-items: center;
    }


    &__main-image{
        height: 193px;
        width: 179px;
    }

    &__subheader{
        color:  #808080;
        font-size: 30px;
        text-align: center;
        // font-family: 'Roboto Light';
    }

    &__productName{
        font-family: 'Lush Handwritten WLat';
        font-size: 26px;

    }

    &__text{
        font-size: 16px;
        color: $buttonBackground;
    }

    &__text--small{
        font-family: 'Roboto Light';
        font-size: 16px;

    }
    &__imageContainer{
        display: flex;
        // justify-content: space-between;
        text-align: center;
        margin-top: 1rem;
        gap: 30px;
    }

    &__card-container{
        display: flex;
        justify-content: space-evenly;
    }
    &__image{
        height: 60px;
    }
    &__productNameWrapper{
        margin-bottom: 1rem;
    }
    &__briefDesc{
        margin-bottom: 3rem;
    }
    &__images-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & >*{
            flex-grow: 1;
        }
    }
    &__addCart{
        height: 60px;
        width: 60px;
        
    }

    &__cartWrapper{
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }

    &__button-wrapper{
        display: flex;
        justify-content: center;
        
    }

    &__button{
        width: 20rem;
        height: 2rem;
        background-color: $buttonBackground;
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2.4px;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    &__text--bold{
        font-family: 'Roboto Bold';
  
    }
    &__card-bottom{
        background-color: #F4F2F4;
        padding: 24px;
        padding-top: 7rem;
    }

    &__card-top{
        position: relative;
        top: 6rem;
        left: 2rem;
    }
}

.recommendations__arrow-wrapper{
    margin-top: 13rem;
}